<!DOCTYPE html>
<html >
<head>
  <title>Board</title>

  <!-- Viewport mobile tag for sensible mobile support -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

  <link rel="stylesheet" href="styles/login.css">
</head>

  <body class="login">


  <div class="container">

    <% if (errors) {%>
    <% errors.forEach(function (error) { %>
    <%= __(error) %>
    <% }) %>
    <% } %>

    <% if (successes) {%>
    <% successes.forEach(function (success) { %>
    <%= __(success) %>
    <% }) %>
    <% } %>


    <form class="form-signin" action="/auth/local" method="post">
      <h2 class="form-signin-heading">Please sign in</h2>

      <label for="inputEmail" class="sr-only">Email address</label>
      <input type="text" name="identifier" id="inputEmail" class="form-control" placeholder="Username or email" required="" autofocus="">

      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required="">
      <div class="checkbox">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      <a class="btn btn-lg btn-primary btn-block" href="/auth/facebook" id="sign-fb">Sign in with Facebook</a>
      <a href="/register">Or register</a>
    </form>

  </div>


    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

    <script>


    </script>
  </body>

</html>
