<!--Action buttons-->
<div layout="row" layout-align="start center" class="widget-buttons">

    <!-- Display widget option panel -->
    <span class="widget-options-button"  aria-label="Options" ng-click="showOptions($event)">
        <i class="fa fa-cog"></i>
    </span>

    <span class="widget-dragger-button"  aria-label="Move">
        <i class="fa fa-arrows"></i>
    </span>
</div>

<!--Widget component-->
<iframe id="{{widget.identityHTML}}"
        ng-src="{{widget.iframeURL}}"
        class="widget-iframe {{widget.tile}}"></iframe>