<div class="modal-header">
    <h3 class="modal-title">No profile found yet</h3>
</div>
<div class="modal-body">
    <p>
        You don't have an active profile on this computer yet. Either you use the app for the first time or we were unable to load your active profile.
        You default profile has been activated then. You can change it in settings.
    </p>
</div>
<div class="modal-footer">
    <div class="text-center">
        <button type="button" class="btn btn-primary" ng-click="ok()">I got it!</button>
    </div>
</div>