<div class="middle-box text-center animated fadeInDown">
    <h1>404</h1>
    <h3 class="font-bold"><%= __('i18n_Page not found') %></h3>

    <div class="error-desc">
        <p><%= __('i18n_404_page_not_found') %></p>
        <a href="<%= sails.getBaseurl() %>" class="btn btn-primary m-t"><%= __('i18n_Home') %></a>
    </div>
</div>