<!DOCTYPE html>
<html ng-app="app">
<head>

    <title page-title></title>

    <meta charset="utf-8">

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="/styles/dist/angular-gridster.min.css">

    <!-- Bootstrap and fonts -->
    <link rel="stylesheet" href="/styles/plugins/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/plugins/font-awesome/css/font-awesome.min.css">

    <link rel="stylesheet" href="/styles/plugins/angular-toastr/angular-toastr.css">

    <!-- Theme + own css -->
    <link rel="stylesheet" href="/styles/plugins/animate.css">
    <link rel="stylesheet" href="/styles/style.theme.css">
    <link rel="stylesheet" href="/styles/style.css">

</head>

<body  ng-controller="MainController">

    <!--<ng-backstretch state="backstretch"></ng-backstretch>-->

    <!-- Wrapper-->
    <div id="wrapper">

        <!-- Navigation -->
        <div ng-include="'app/partials/sidebar.html'"></div>

        <!-- Page wraper -->
        <!-- ng-class with current state name give you the ability to extended customization your view -->
        <div id="page-wrapper" class="gray-bg {{$state.current.name}}">

            <!-- Page wrapper -->
            <!--<div ng-include="'views/common/topnavbar.html'"></div>-->

            <!-- Main view  -->
            <div ui-view></div>

            <!-- Footer -->
            <div ng-include="'app/partials/footer.html'"></div>

        </div>
        <!-- End page wrapper-->

    </div>
    <!-- End wrapper-->

          <!-- Main content -->
          <!--<md-content class="board-content">-->

              <!--<md-content layout="row"  layout-algn="start center" class="topbar">-->
                  <!--<div>-->
                      <!--<md-button ng-click="toggleMenu()" class="md-primary ">-->
                          <!--<md-icon icon="/app/icons/material/navigation/1x_web/ic_menu_black_24dp.png"></md-icon>-->
                      <!--</md-button>-->
                  <!--</div>-->
                  <!--<div class="logo">Board</div>-->
              <!--</md-content>-->


              <!--<div layout="column" layout-align="left left" class="md-padding">-->
                  <!--<div class="view-container">-->
                      <!--<div ng-view class="view-frame"></div>-->
                  <!--</div>-->
              <!--</div>-->


          <!--</md-content>-->



    <!-- Load application config -->
    <script src="settings.js"></script>

    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/moment.min.js"></script>
    <script src="/js/dependencies/hammer.js"></script>

    <!-- Jquery and Bootstrap -->
    <script src="/js/dependencies/jquery/jquery-2.1.1.min.js"></script>
    <script src="/js/dependencies/jquery/jquery-ui.min.js"></script>
    <script src="/js/dependencies/bootstrap/bootstrap.min.js"></script>

    <!-- Jquery plugins -->
    <!-- Metis menu -->
    <script src="/js/dependencies/metisMenu/jquery.metisMenu.js"></script>

    <!-- Pace js (automatic page load progress bar -->
    <script src="/js/dependencies/pace/pace.min.js"></script>

    <script src="/js/dependencies/detect-element-resize.js"></script>
    <script src="/js/dependencies/jquery.backstretch.js"></script>
    <script src="/js/dependencies/URI.js"></script>

    <!-- Angular dependencies -->
    <script src="/js/dependencies/angular/angular.js"></script>
    <script src="/js/dependencies/angular/angular-animate.js"></script>
    <script src="/js/dependencies/angular/angular-aria.js"></script>
    <script src="/js/dependencies/angular/angular-ui-router.js"></script>

    <!-- Angular plugins -->
    <script src="/js/dependencies/angular-hammer.js"></script>
    <script src="/js/dependencies/bootstrap/ui-bootstrap-tpls-0.11.0.min.js"></script>
    <script src="/js/dependencies/src/angular-gridster.js"></script>
    <script src="/js/dependencies/angular-toastr/angular-toastr.tpls.js"></script>

    <!-- App scripts -->
    <script src="/app/js/app.module.js"></script>
    <script src="/app/js/config.js"></script>
    <script src="/app/js/controllers.js"></script>
    <script src="/app/js/directives.js"></script>
    <script src="/app/js/filters.js"></script>
    <script src="/app/js/services.js"></script>

</body>
</html>
