<!DOCTYPE html>
<html>
<head>

    <title page-title></title>

    <meta charset="utf-8">

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="/styles/dist/angular-gridster.min.css">

    <!-- Bootstrap and fonts -->
    <link rel="stylesheet" href="/styles/plugins/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/plugins/font-awesome/css/font-awesome.min.css">

    <link rel="stylesheet" href="/styles/plugins/iCheck/custom.css">
    
    <link rel="stylesheet" href="/styles/plugins/toastr/toastr.min.css">

    <!-- Theme + own css -->
    <link rel="stylesheet" href="/styles/plugins/animate.css">
    <link rel="stylesheet" href="/styles/style.theme.css">
    <link rel="stylesheet" href="/styles/style.css">

</head>


<body  ng-controller="MainController" class="{{$state.current.name}}" backstretch="{{backstretch}}">

    <!-- This preloader is used with pace.js to hide the content of page while rendering is not done -->
    <div class="preloader">
        <div class="loading">Loading <i class="fa fa-refresh fa-spin icon"></i></div>
    </div>

    <!-- Wrapper-->
    <div id="wrapper" class="">

        <!-- Navigation -->
        <div ng-include="'app/views/partials/sidebar.html'"></div>


        <!-- Page wraper -->
        <!-- ng-class with current state name give you the ability to extended customization your view -->
        <div id="page-wrapper" class="gray-bg {{$state.current.name}}">

            <!-- Page wrapper -->
            <!--<div ng-include="'views/common/topnavbar.html'"></div>-->

            <!-- Main view  -->
            <div ui-view></div>

            <!-- Footer -->
            <div ng-include="'app/views/partials/footer.html'"></div>

        </div>
        <!-- End page wrapper-->

    </div>
    <!-- End wrapper-->


    <!-- Load application config -->
    <!--<script src="settings.js"></script>-->

    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/moment.min.js"></script>
    <script src="/js/dependencies/hammer.js"></script>

    <!-- Jquery and Bootstrap -->
    <script src="/js/dependencies/jquery/jquery-2.1.1.min.js"></script>
    <script src="/js/dependencies/jquery/jquery-ui.min.js"></script>
    <!--<script src="/js/dependencies/bootstrap/bootstrap.min.js"></script>-->

    <!-- Jquery plugins -->
    <!-- Metis menu -->
    <script src="/js/dependencies/metisMenu/jquery.metisMenu.js"></script>

    <script src="/js/dependencies/toastr/toastr.min.js"></script>

    <!-- iCheck (http://fronteed.com/iCheck/) -->
    <script src="/js/dependencies/iCheck/icheck.min.js"></script>

    <!-- Pace js (automatic page load progress bar -->
    <script src="/js/dependencies/pace/pace.min.js"></script>
    <script>
        Pace.on("done", function(){
            $(".preloader").addClass('site-loaded');
        });
    </script>
    
    <script src="/js/dependencies/detect-element-resize.js"></script>
    <script src="/js/dependencies/jquery.backstretch.js"></script>
    <script src="/js/dependencies/URI.js"></script>
    <script src="/js/dependencies/lodash.js"></script>
    
    <!-- Angular dependencies -->
    <script src="/js/dependencies/angular/angular.js"></script>
    <script src="/js/dependencies/angular/angular-animate.js"></script>
    <script src="/js/dependencies/angular/angular-aria.js"></script>
    <script src="/js/dependencies/angular/angular-ui-router.js"></script>

    <!-- Angular plugins -->
    <script src="/js/dependencies/angular-hammer.js"></script>
    <script src="/js/dependencies/bootstrap/ui-bootstrap-tpls-0.12.0.min.js"></script>
    <script src="/js/dependencies/src/angular-gridster.js"></script>

    <!-- App scripts -->
    <script src="/app/app.module.js"></script>
    <script src="/app/app.constants.js"></script>
    <script src="/app/app.config.js"></script>
    <script src="/app/app.route.js"></script>
    
    <script src="/app/controllers/controllers.module.js"></script>
    <script src="/app/controllers/controllers.js"></script>
    <script src="/app/controllers/main.controller.js"></script>
    <script src="/app/controllers/index.controller.js"></script>
    <script src="/app/controllers/profile.controller.js"></script>
    
    <script src="/app/directives/directives.module.js"></script>
    <script src="/app/directives/directives.js"></script>
    <script src="/app/directives/backstretch.directive.js"></script>
    
    <script src="/app/services/services.js"></script>
    <script src="/app/services/dataservice.service.js"></script>
    <script src="/app/services/backstretch.factory.js"></script>
    <script src="/app/services/sidebar.service.js"></script>
    <script src="/app/services/widget.factory.js"></script>

    <script src="/app/blocks/exception/exception.module.js"></script>
    <script src="/app/blocks/exception/exception-handler.provider.js"></script>
    <script src="/app/blocks/logger/logger.module.js"></script>
    <script src="/app/blocks/logger/logger.js"></script>


</body>
</html>
