<!DOCTYPE html>
<html>
  <head>

      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title><%= title %></title>

      <!--STYLES-->
      <link rel="stylesheet" href="/styles/importer.css">
      <!--STYLES END-->

      <script>
          // Clean url if we come from angular
          window.location.hash = '';
      </script>
      
  </head>

<body class="gray-bg">

    <%- body %>

    <!--SCRIPTS-->
    <script src="/vendors/jquery/jquery.js"></script>
    <script src="/vendors/jquery-ui/jquery-ui.js"></script>
    <script src="/vendors/bootstrap/bootstrap.js"></script>
    <script src="/vendors/jquery-cookie/jquery.cookie.js"></script>
    <script src="/vendors/iCheck/icheck.js"></script>
    <script src="/vendors/toastr/toastr.js"></script>
    <script src="/vendors/jquery-validation/jquery.validate.js"></script>
    <script src="/js/script.auth.js"></script>
    <!--SCRIPTS END-->

</body>

</html>
