
	<div class="row">
		<button class="navbar-minimalize minimalize-styl-2 btn btn-primary " ng-click="toggleMenu()"><i class="fa fa-bars"></i></button>
		<button class="navbar-minimalize minimalize-styl-2 btn btn-success btn-circle  " ng-click="stopWidgets()"><i class="fa fa-stop"></i></button>
		<button class="navbar-minimalize minimalize-styl-2 btn btn-success btn-circle  " ng-click="startWidgets()"><i class="fa fa-play"></i></button>
		<button class="navbar-minimalize minimalize-styl-2 btn btn-success btn-circle " ng-click="refreshWidgets()"><i class="fa fa-undo"></i></button>
		<button class="navbar-minimalize minimalize-styl-2 btn btn-warning btn-circle " ng-click="reloadWidgets()"><i class="fa fa-undo"></i></button>
	</div>


	
	<div class="row">
		
		<!-- 
			Gridster plugin
			Will organize the gridster-item itself
		-->
		<div gridster="gridsterOpts" class="widgets-iframes-container">
			<ul>
				<li gridster-item="widget"
					ng-repeat="widget in widgets">
				<!-- ng-controller="WidgetController"-->

					<!--
						widgetIfram directive:
						handle the UI control of the widget
					-->
					<widget-iframe id="{{widget.identityHTML}}-container" class="widget-iframe-container"  widget="widget" ng-style="{'background-color': widget.backgroundColor}" >

						<!--Action buttons-->
						<div layout="row" layout-align="start center" class="widget-buttons">
							<span class="widget-options-button"  aria-label="Options" ng-click="showOptions($event, widget.identityHTML)">
								<i class="fa fa-cog"></i>
							</span>
							<span class="widget-dragger-button"  aria-label="Move">
								<i class="fa fa-arrows"></i>
							</span>
						</div>

						<!--Widget component-->
						<iframe id="{{widget.identityHTML}}"
								ng-src="{{widget.iframeURL}}"
								class="widget-iframe {{widget.tile}}"></iframe>

					</widget-iframe><!-- end: widget container -->
				</li>
			</ul>
		</div><!-- end: gridster -->
	</div>



