
	<div class="row">
		<a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="" ng-click="toggleMenu()"><i class="fa fa-bars"></i></a>
	</div>

	<div class="row">
		<div gridster="gridsterOpts" class="widgets-iframes-container">
			<ul>
				<li
						gridster-item="widget"
						ng-repeat="widget in widgets"
						ng-style="{'background-color': widget.backgroundColor}" ng-controller="WidgetController">

					<div id="{{widget.identityHTML}}-container" class="widget-iframe-container" >

						<div layout="row" layout-align="start center" class="widget-buttons">
					<span class="widget-options-button"  aria-label="Options" ng-click="showOptions($event, widget.identityHTML)">
						<i class="fa fa-cog"></i>
					</span>
					<span class="widget-dragger-button"  aria-label="Move">
						<i class="fa fa-arrows"></i>
					</span>
						</div>

						<iframe id="{{widget.identityHTML}}"
								ng-src="{{widget.iframeURL}}"
								class="widget-iframe {{widget.tile}}"
								widget-iframe
								widget="widget" ></iframe>

					</div><!-- end: widget container -->
				</li>
			</ul>
		</div><!-- end: gridster -->
	</div>



