

<div layout="column" layout-fill>


	<section layout="row" flex>

		<!--
			Sidenav component
			This component is handle by a specific controller
		-->
		<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="sidebar">
			<md-toolbar class="md-theme-light">
				<h1 class="md-toolbar-tools">Menu</h1>
			</md-toolbar>
			<!--
				Start of content
				handle by a controller
			-->
			<md-content  class="md-padding" ng-controller="SidebarController">

				<div class="md-actions" layout="column">
					<md-button ng-click="refreshWidgets()" class="md-primary">Refresh</md-button>
					<md-button ng-click="stopWidgets()" class="md-accent">Stop</md-button>
					<md-button ng-click="startWidgets()" class="md-warn">Start</md-button>
					<md-button ng-click="close()" class="md-primary">
						Close Sidenav left
					</md-button>

					<md-button ng-click="changeBackgroud($event)" class="md-primary">Change backgroud</md-button>
				</div>

			</md-content>
		</md-sidenav>


			<md-content flex class="md-padding board-content">



				<md-button ng-click="toggleMenu()" class="md-primary">
					<md-icon icon="/app/icons/material/navigation/1x_web/ic_menu_black_24dp.png"></md-icon>
				</md-button>


					<div gridster="gridsterOpts" class="widgets-iframes-container">
						<ul>
							<li
								gridster-item="widget"
								ng-repeat="widget in widgets"
								ng-style="{'background-color': widget.backgroundColor}" ng-controller="WidgetController">

								<div id="{{widget.identityHTML}}-container" class="widget-iframe-container" >

									<div layout="row" layout-align="start center" class="widget-buttons">
										<md-button class="md-primary widget-options-button"  aria-label="Options" ng-click="showOptions($event, widget.identityHTML)">
											<img src="/app/icons/material/navigation/1x_web/ic_apps_white_18dp.png"/>
										</md-button>
										<md-button class="md-primary widget-dragger-button"  aria-label="Move">
											<img src="/app/icons/material/action/1x_web/ic_open_with_white_18dp.png"/>
										</md-button>
									</div>

									<iframe id="{{widget.identityHTML}}"
											ng-src="{{widget.iframeURL}}"
											class="widget-iframe {{widget.tile}}"
											widget-iframe
											widget="widget" ></iframe>
								</div><!-- end: widget container -->
							</li>
						</ul>
					</div><!-- end: gridster -->

			</md-content>

	</section>
</div>

