<md-content class="md-padding ng-scope md-default-theme">
  <div layout="column" layout-fill="" class="doc-content" style="max-width: 800px; margin:auto;">
    <div layout="column" >

      <section class="md-whiteframe-z1" >

        <md-toolbar class="md-default-theme">
          <div class="md-toolbar-tools">
            <span class="ng-binding">Login</span>
          </div>
        </md-toolbar>

        <div class="textFieldDemo1 ng-scope">
          <div  layout="column">
            <md-content>
              <form style="padding: 20px;" name="update_account_form" ng-submit="updateAccountForm()">
                <div class="row">
                  <md-text-float label="Username or Email" ng-model="identifier" > </md-text-float>
                  <md-text-float label="Password" ng-model="password" > </md-text-float>
                </div>
                <div class="row">
                  <md-button class="md-raised md-primary" type="submit">Login</md-button>
                </div>
              </form>
            </md-content>
          </div>
        </div>
      </section>

    </div>
  </div>
</md-content>
