<!DOCTYPE html>
<html>
<head>

    <title page-title><%= title %></title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--STYLES APP-->
    <link rel="stylesheet" href="/styles/importer-app.css">
    <!--STYLES APP END-->

</head>

<!--The body will take as class the name of the current view. ex: '.board', '.settings' ...-->

<body ng-controller="MainController" class="{{$state.current.data.target}}" >

    <!-- This preloader is used with pace.js to hide the content of page while rendering is not done -->
    <div class="preloader">
        <div class="loading">Your app is loading <i class="fa fa-refresh fa-spin icon"></i></div>
    </div>

    <!-- Wrapper-->
    <div id="wrapper" class="">

        <!-- Navigation -->
        <div ng-include="'app/views/common/sidebar.html'"></div>

        <!-- Page wraper -->
        <!-- ng-class with current state name give the ability to extended customization about the current view -->
        <div id="page-wrapper" class="gray-bg {{$state.current.data.target}}">
            
            <!-- Main view  -->
            <div ui-view></div>

        </div>
        <!-- End page wrapper-->

    </div>
    <!-- End wrapper-->

    <!--Get app configuration-->
    <script src="<%= helper.getUrl(sails.config.urls.configuration) %>"></script>
    <!--Get user configuration-->
    <script src="<%= helper.getUrl(sails.config.urls.user) %>"></script>

    <!--SCRIPTS APP-->
    <script src="/vendors/pace/pace.js"></script>
    <script src="/vendors/URIjs/URI.js"></script>
    <script src="/vendors/lodash/lodash.js"></script>
    <script src="/vendors/dropzone/dropzone.min.js"></script>
    <script src="/vendors/jquery/jquery.js"></script>
    <script src="/vendors/jquery-ui/jquery-ui.js"></script>
    <script src="/vendors/bootstrap/bootstrap.js"></script>
    <script src="/vendors/toastr/toastr.js"></script>
    <script src="/vendors/metisMenu/metisMenu.js"></script>
    <script src="/vendors/jquery-backstretch/jquery.backstretch.js"></script>
    <script src="/vendors/jQuery-Knob/jquery.knob.min.js"></script>
    <script src="/vendors/iCheck/icheck.js"></script>
    <script src="/vendors/blueimp-gallery/blueimp-gallery.js"></script>
    <script src="/vendors/angular/angular.js"></script>
    <script src="/vendors/angular-ui-router/angular-ui-router.js"></script>
    <script src="/vendors/angular-gridster/angular-gridster.js"></script>
    <script src="/js/dependencies/angular-plugins/angular-breadcrumb.min.js"></script>
    <script src="/js/dependencies/angular-plugins/angular-hammer.js"></script>
    <script src="/js/dependencies/angular-plugins/angular-jwt/angular-jwt.min.js"></script>
    <script src="/js/dependencies/angular-plugins/bootstrap/ui-bootstrap-tpls-0.12.0.min.js"></script>
    <script src="/vendors/angular-local-storage/angular-local-storage.js"></script>
    <script src="/app/core/core.module.js"></script>
    <script src="/app/app.module.js"></script>
    <script src="/app/blocks/backstretch/backstretch.module.js"></script>
    <script src="/app/blocks/exception/exception.module.js"></script>
    <script src="/app/blocks/logger/logger.module.js"></script>
    <script src="/app/blocks/page-title/page-title.module.js"></script>
    <script src="/app/controllers/controllers.module.js"></script>
    <script src="/app/directives/directives.module.js"></script>
    <script src="/app/filters/filters.module.js"></script>
    <script src="/app/services/services.module.js"></script>
    <script src="/app/blocks/backstretch/backstretch.directive.js"></script>
    <script src="/app/blocks/backstretch/backstretch.service.js"></script>
    <script src="/app/blocks/exception/exception-handler.provider.js"></script>
    <script src="/app/blocks/logger/logger.js"></script>
    <script src="/app/blocks/page-title/page-title.directive.js"></script>
    <script src="/app/blocks/uiBreadcrumbs/uiBreadcrumbs.js"></script>
    <script src="/app/controllers/account.controller.js"></script>
    <script src="/app/controllers/index.controller.js"></script>
    <script src="/app/controllers/main.controller.js"></script>
    <script src="/app/controllers/repository.controller.js"></script>
    <script src="/app/controllers/settings.board.controller.js"></script>
    <script src="/app/controllers/settings.controller.js"></script>
    <script src="/app/controllers/static.controller.js"></script>
    <script src="/app/controllers/widget-profiles.controller.js"></script>
    <script src="/app/core/core.config.js"></script>
    <script src="/app/core/core.constants.js"></script>
    <script src="/app/core/core.routes.js"></script>
    <script src="/app/directives/blueimp.directive.js"></script>
    <script src="/app/directives/dropzone.directive.js"></script>
    <script src="/app/directives/icheck.directive.js"></script>
    <script src="/app/directives/knob.directive.js"></script>
    <script src="/app/directives/metis-menu.directive.js"></script>
    <script src="/app/directives/ng-confirm-click.js"></script>
    <script src="/app/directives/sidebar.directive.js"></script>
    <script src="/app/directives/theboard-fullscreen.js"></script>
    <script src="/app/directives/widget-iframe.directive.js"></script>
    <script src="/app/filters/smartname.filter.js"></script>
    <script src="/app/services/dataservice.service.js"></script>
    <script src="/app/services/fullscreen.service.js"></script>
    <script src="/app/services/geolocation.service.js"></script>
    <script src="/app/services/repository.service.js"></script>
    <script src="/app/services/services.js"></script>
    <script src="/app/services/sidebar.service.js"></script>
    <script src="/app/services/user/object.factory.js"></script>
    <script src="/app/services/user/service.factory.js"></script>
    <script src="/app/services/widget-profile.service.js"></script>
    <script src="/app/services/widgets/object.factory.js"></script>
    <script src="/app/services/widgets/service.factory.js"></script>
    <!--SCRIPTS APP END-->
    
    <script>
        Pace.on("done", function(){
            $(".preloader").addClass('site-loaded');
        });
    </script>

</body>
</html>
