<!DOCTYPE html>
<!--<html ng-app="app">-->
<html>
<head>

    <title page-title><%= title %></title>

    <meta charset="utf-8">

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--STYLES APP-->
    <link rel="stylesheet" href="/styles/importer-app.css">
    <!--STYLES APP END-->

</head>


<body ng-controller="MainController" class="{{$state.current.data.target}}" >

    <!-- This preloader is used with pace.js to hide the content of page while rendering is not done -->
    <div class="preloader">
        <div class="loading">Your app is loading <i class="fa fa-refresh fa-spin icon"></i></div>
    </div>

    <!-- Wrapper-->
    <div id="wrapper" class="">

        <!-- Navigation -->
        <div ng-include="'app/views/common/sidebar.html'"></div>

        <!-- Page wraper -->
        <!-- ng-class with current state name give the ability to extended customization about the current view -->
        <div id="page-wrapper" class="gray-bg {{$state.current.data.target}}">
            
            <!-- Main view  -->
            <div ui-view></div>

        </div>
        <!-- End page wrapper-->

    </div>
    <!-- End wrapper-->

    <!--Get app configuration-->
    <script src="<%= helper.getUrl(sails.config.urls.configuration) %>"></script>
    <!--Get user configuration-->
    <script src="<%= helper.getUrl(sails.config.urls.user) %>"></script>

    <!--SCRIPTS APP-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/URI.js"></script>
    <script src="/js/dependencies/dropzone.js"></script>
    <script src="/js/dependencies/jquery-plugins/blueimp-gallery.min.js"></script>
    <script src="/js/dependencies/jquery-plugins/jquery.backstretch.js"></script>
    <script src="/js/dependencies/jquery-plugins/jquery.knob.js"></script>
    <script src="/js/dependencies/jquery-plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="/js/dependencies/angular/angular.js"></script>
    <script src="/js/dependencies/angular/angular-animate.js"></script>
    <script src="/js/dependencies/angular/angular-aria.js"></script>
    <script src="/js/dependencies/angular/angular-route.js"></script>
    <script src="/js/dependencies/angular/angular-ui-router.js"></script>
    <script src="/js/dependencies/angular-plugins/angular-breadcrumb.min.js"></script>
    <script src="/js/dependencies/angular-plugins/angular-gridster.js"></script>
    <script src="/js/dependencies/angular-plugins/angular-hammer.js"></script>
    <script src="/js/dependencies/angular-plugins/angular-jwt/angular-jwt.min.js"></script>
    <script src="/js/dependencies/angular-plugins/angular-local-storage.min.js"></script>
    <script src="/js/dependencies/angular-plugins/bootstrap/ui-bootstrap-tpls-0.12.0.min.js"></script>
    <script src="/app/core/core.module.js"></script>
    <script src="/app/app.module.js"></script>
    <script src="/app/blocks/backstretch/backstretch.module.js"></script>
    <script src="/app/blocks/exception/exception.module.js"></script>
    <script src="/app/blocks/logger/logger.module.js"></script>
    <script src="/app/blocks/page-title/page-title.module.js"></script>
    <script src="/app/controllers/controllers.module.js"></script>
    <script src="/app/directives/directives.module.js"></script>
    <script src="/app/filters/filters.module.js"></script>
    <script src="/app/providers/services.module.js"></script>
    <script src="/app/blocks/backstretch/backstretch.directive.js"></script>
    <script src="/app/blocks/backstretch/backstretch.service.js"></script>
    <script src="/app/blocks/exception/exception-handler.provider.js"></script>
    <script src="/app/blocks/logger/logger.js"></script>
    <script src="/app/blocks/page-title/page-title.directive.js"></script>
    <script src="/app/blocks/uiBreadcrumbs/uiBreadcrumbs.js"></script>
    <script src="/app/controllers/account.controller.js"></script>
    <script src="/app/controllers/index.controller.js"></script>
    <script src="/app/controllers/main.controller.js"></script>
    <script src="/app/controllers/repository.controller.js"></script>
    <script src="/app/controllers/settings.controller.js"></script>
    <script src="/app/controllers/static.controller.js"></script>
    <script src="/app/controllers/widget-profiles.controller.js"></script>
    <script src="/app/core/core.config.js"></script>
    <script src="/app/core/core.constants.js"></script>
    <script src="/app/core/core.routes.js"></script>
    <script src="/app/directives/blueimp.directive.js"></script>
    <script src="/app/directives/dropzone.directive.js"></script>
    <script src="/app/directives/icheck.directive.js"></script>
    <script src="/app/directives/knob.directive.js"></script>
    <script src="/app/directives/metis-menu.directive.js"></script>
    <script src="/app/directives/ng-confirm-click.js"></script>
    <script src="/app/directives/sidebar.directive.js"></script>
    <script src="/app/directives/widget-iframe.directive.js"></script>
    <script src="/app/filters/smartname.filter.js"></script>
    <script src="/app/providers/dataservice.service.js"></script>
    <script src="/app/providers/fullscreen.service.js"></script>
    <script src="/app/providers/geolocation.service.js"></script>
    <script src="/app/providers/repository.service.js"></script>
    <script src="/app/providers/services.js"></script>
    <script src="/app/providers/sidebar.service.js"></script>
    <script src="/app/providers/user.provider.js"></script>
    <script src="/app/providers/widget-profile.service.js"></script>
    <script src="/app/providers/widget.factory.js"></script>
    <!--SCRIPTS APP END-->
    
    <script>
        Pace.on("done", function(){
            $(".preloader").addClass('site-loaded');
        });
    </script>

</body>
</html>
