body.modal-open{
    overflow: auto; /* we display the scroll to avoid element width change */
}
.hidden{
    display: none;
}
.vertical{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}
/*=================================
        Login
=================================*/
.social-line hr{
    border-top: 1px solid #D8D4D4;
}

/*=================================
        Widgets
=================================*/
.widget-iframe-container{
    border: none;
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
    border-radius: 5px;
}
.widget-iframe-container.with-border{
    border: 2px solid rgba(255, 255, 255, 1);
}
.widget-iframe-container .widget-iframe-lock{
    border-radius: 5px;
    cursor: move;
    cursor: -webkit-grab;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    visibility: hidden;
    background-color: rgba(0,0,0,0.4);
    opacity: 0;
    -webkit-transition: visibility 0s linear 0.1s,opacity 0.1s linear;
    -moz-transition: visibility 0s linear 0.1s,opacity 0.1s linear;
    -o-transition: visibility 0s linear 0.1s,opacity 0.1s linear;
    transition: visibility 0s linear 0.1s,opacity 0.1s linear;
}
.widget-iframe-container .widget-content{
    position: relative;
    height: 100%;
    z-index: 1;
}
.widget-iframe-container .widget-loading{
    height: 100%;
}
/*
 * Relative to <iframe>
 */
.widget-iframe-container .widget-iframe{
    border: none;
    width: 100%;
    height: 100%;
    visibility: hidden;
    position: absolute;
}
.widget-iframe-container .widget-iframe.iframe-visible{
    visibility: visible;
    position: relative;
}
.widget-lock .widget-iframe-lock{
    visibility:visible;
    transition-delay:0s;
    opacity: 1;
}
.widget-iframe-lock .vertical{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}
.gridster-item-resizable-handler.handle-s,
.gridster-item-resizable-handler.handle-n,
.gridster-item-resizable-handler.handle-e,
.gridster-item-resizable-handler.handle-w,
.gridster-item-resizable-handler.handle-ne,
.gridster-item-resizable-handler.handle-se,
.gridster-item-resizable-handler.handle-sw,
.gridster-item-resizable-handler.handle-nw{
    display: none;
    z-index: 3;
}
.widget-lock .gridster-item-resizable-handler.handle-s,
.widget-lock .gridster-item-resizable-handler.handle-n{
    display: block;
    height: 30px;
}
.widget-lock .gridster-item-resizable-handler.handle-e,
.widget-lock .gridster-item-resizable-handler.handle-w{
    display: block;
    width: 30px;
}
.widget-lock .gridster-item-resizable-handler.handle-ne,
.widget-lock .gridster-item-resizable-handler.handle-se,
.widget-lock .gridster-item-resizable-handler.handle-sw,
.widget-lock .gridster-item-resizable-handler.handle-nw{
    display: block;
    height: 30px;
    width: 30px;
}
.gridster .widget-lock .gridster-item:hover .handle-se{
    border-width: 0 0 30px 30px;
}

/*=================================
         Widget profiles
=================================*/
.ibox.widget-profile{
    cursor: pointer;
}
.ibox.widget-profile.selected{
    
}
.ibox.widget-profile p.description{
    height: 100px;
    max-height: 100px;
}
.ibox .ibox-content{
    height: 300px;
}
.ibox .ibox-content.selected{
    
}
/*.modal-widget-profile .modal-dialog{*/
    /*width: 150px;*/
/*}*/
/*.modal-widget-profile .modal-dialog .modal-content{*/
    /*border-radius: 40px;*/
/*}*/
/*.modal-widget-profile .modal-dialog .modal-body{*/
    /*border-radius: 40px;*/
    /*padding: 15px;*/
/*}*/


/*=================================
        Sidebar
        http://tympanus.net/Development/SidebarTransitions/#
=================================*/
.sidebar{
    min-height: 1200px;
    background-color: #2f4050;
}
.board .sidebar.sidebar-open {
    visibility: visible;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.board .sidebar {
    position: absolute;
    bottom: 0;
    z-index: 60;
    left: 0;
    top: 0;
    box-shadow: 0px 8px 17px rgba(0, 0, 0, 0.2);

    /*display: none;*/
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    visibility: hidden;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}
.board .pace-done .sidebar .nav-header {
     transition: none;
}
.sidebar-backdrop{
    background-color: rgba(0,0,0,0.4);
    position: absolute;
    z-index: 59;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    visibility:hidden;
    -webkit-transition: visibility 0s linear 0.3s,opacity 0.3s linear;
    -moz-transition: visibility 0s linear 0.3s,opacity 0.3s linear;
    -o-transition: visibility 0s linear 0.3s,opacity 0.3s linear;
    transition: visibility 0s linear 0.3s,opacity 0.3s linear;
}
.sidebar-backdrop.active{
    visibility:visible;
    transition-delay:0s;
    opacity: 1;
}
/*=================================
        Board
=================================*/
#page-wrapper,
.pace-done #page-wrapper{
    /* we remove the animation of main wrapper because of the transition between the board
  and the rest of routes. There is no glitch with wrapper and menu then */
    -webkit-transition:none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
}
.board #page-wrapper{
    margin-left:0px;
}
.board #page-wrapper{
    /*background-color: #2f4050;*/
    background-color: inherit; /* we can see backstretch */
}
.board .pace .pace-progress{
    left:0;
}


/* Login container
   - change some values from the theme */
.loginscreen.middle-box {
    width: 300px;
    margin: 100px auto 0 auto;
    position:relative;
    left: 0;
    top:0;
}
/* Logo name in login form */
h1.logo-name{
    font-size: 70px;
}

.avatar_48{
    width: 48px;
    height: 48px;
}

/**********************************
 * Bootstrap modals
 **********************************/
.modal-danger {

}
.modal-danger .modal-header{
    background-color: #ed5565;
    color: #ffffff;
}
.modal-danger .modal-header .close{
    color: #ffffff;
}

/************************************
 * Form rewrite from theme
 ************************************/
label.error {
    /*font-weight: inherit; *//* with open sans the label error was to fat, we reduced the weight */
}
.error-container label.error{
    display: block; /* we need error to stack and not follow*/
}
/* add error support (.form-control.error) from theme to angular */
.form-control.ng-invalid.ng-dirty {
    border: 1px dotted #cc5965;
}
#toast-container > .toast-warning:before {
    content: "\f003";
}
#toast-container > .toast-error:before {
    content: "\f188";
}
#toast-container > .toast-info:before {
    content: "\f005";
}
#toast-container > .toast-success:before {
    content: "\f00C";
}


/*==================================
 * Style relative to preloader
 * The preloader is mixed with pace.js
 *==================================*/
.pace .pace-progress,.nano>.nano-pane>.nano-slider{background-color:#54abd9}
.pace .pace-progress-inner{box-shadow:0 0 10px #54abd9,0 0 5px #54abd9}
.pace .pace-activity{background-color:#54abd9}
.pace{
    position:fixed;
    width:100%;
    height:15px;
    z-index:2000;
    visibility:visible;
    opacity:0.8;
    top:0;
    left:0;
}
.pace:before{content:'';display:block;width:100%;height:4px;background-color:rgba(255,255,255,.7);position:absolute}
.pace-inactive{
    visibility: hidden;
    opacity: 0;
    -webkit-transition: visibility 0s linear .5s,opacity .2s ease-in;
    -o-transition: visibility 0s linear .5s,opacity .2s ease-in;
    transition: visibility 0s linear .5s,opacity .2s ease-in;
}
.pace .pace-progress{
    height:4px;z-index:2;position:relative;
    border-radius: 0;
    background: #1ab394;
    position: fixed;
    z-index: 2000;
    top: 0px;
    left: inherit;
    height: 4px;
    -webkit-transition: width 1s;
    -moz-transition: width 1s;
    -o-transition: width 1s;
    transition: width 1s;
}
.pace .pace-activity{display:none}
.cover {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 1999;
    background:rgb(33,33,33);
}
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /*background-color: #fefefe;*/
    background-color: #e7ebee;
    z-index: 1999;
    height: 100%;
    width: 100%;
    overflow: hidden!important;
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
}
.preloader>.loading {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 40px;
    margin-top: -30px;
    text-align: center;
    font-size: 16px;
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
}
.preloader>.loading .icon{
    margin-left: 5px;
}
.preloader.site-loaded {
    visibility: hidden;
    opacity: 0;
    -webkit-transition: visibility 0s linear 2s,opacity 1s ease-in;
    -o-transition: visibility 0s linear 1s,opacity 1s ease-in;
    transition: visibility 0s linear 1s,opacity 1s ease-in;
}
.preloader.site-loaded .loading {
    visibility: hidden;
    opacity: 0;
    -webkit-transition: visibility 0s linear .5s,opacity .5s ease-in;
    -o-transition: visibility 0s linear .5s,opacity .5s ease-in;
    transition: visibility 0s linear .5s,opacity .5s ease-in;
}