
.hidden{
    display: none;
}



/*=================================
        Widgets
=================================*/
.widgets-iframes-container{
}
.widget-iframe-container{
    /*border-radius: 6px;*/
    border: none;
    /*padding: 30px;*/
    background: #34495e;
    width: 100%;
    height: 100%;
    border: 2px solid rgba(255, 255, 255, 1);
    display: block;
    /*border-radius: 5px;*/
}
.widget-iframe-container .widget-buttons{
    position: absolute;
    font-size: 15px;
    /*line-height: normal;*/
    color:white;
    left:10px;
    top:5px;
}
.widget-iframe-container .widget-options-button{
}
.widget-iframe-container .widget-dragger-button{
    margin-left:5px;
    cursor: move;
}
.widget-iframe{
    border: none;
    width: 100%;
    height: 100%;
    /*border-radius: 3px; *//* fix for little glitch on each corner */
}



/*=================================
        Sidebar
        http://tympanus.net/Development/SidebarTransitions/#
=================================*/
.sidebar{
    min-height: 1200px;
    background-color: #2f4050;
}
.board .sidebar.sidebar-open {
    visibility: visible;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.board .sidebar {
    position: absolute;
    bottom: 0;
    z-index: 60;
    left: 0;
    top: 0;
    box-shadow: 0px 8px 17px rgba(0, 0, 0, 0.2);

    /*display: none;*/
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    visibility: hidden;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}
.board .pace-done .sidebar .nav-header {
     transition: none;
}
.sidebar-backdrop{
    background-color: rgba(0,0,0,0.4);
    position: absolute;
    z-index: 59;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    visibility:hidden;
    -webkit-transition: visibility 0s linear 0.3s,opacity 0.3s linear;
    -moz-transition: visibility 0s linear 0.3s,opacity 0.3s linear;
    -o-transition: visibility 0s linear 0.3s,opacity 0.3s linear;
    transition: visibility 0s linear 0.3s,opacity 0.3s linear;
}
.sidebar-backdrop.active{
    visibility:visible;
    transition-delay:0s;
    opacity: 1;
}
/*=================================
        Board
=================================*/
#page-wrapper,
.pace-done #page-wrapper{
    /* we remove the animation of main wrapper because of the transition between the board
  and the rest of routes. There is no glitch with wrapper and menu then */
    -webkit-transition:none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
}
.board #page-wrapper{
    margin-left:0px;
}
.board #page-wrapper.gray-bg{
    background-color: inherit;
    
}
.board .pace .pace-progress{
    left:0;
}


/* Login container
   - change some values from the theme */
.loginscreen.middle-box {
    width: 300px;
    margin: 100px auto 0 auto;
    position:relative;
    left: 0;
    top:0;
}
/* Logo name in login form */
h1.logo-name{
    font-size: 70px;
}

/**********************************
 * Bootstrap modals
 **********************************/
.modal-danger {

}
.modal-danger .modal-header{
    background-color: #ed5565;
    color: #ffffff;
}
.modal-danger .modal-header .close{
    color: #ffffff;
}

/************************************
 * Form rewrite from theme
 ************************************/
label.error {
    font-weight: inherit; /* with open sans the label error was to fat, we reduced the weight */
}
/* add error support (.form-control.error) from theme to angular */
.form-control.ng-invalid.ng-dirty {
    border: 1px dotted #cc5965;
}
