<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-9">
        <h2>Profile</h2>
        <ol class="breadcrumb">
            <li>
                <a ui-sref="board">Board</a>
            </li>
            <li class="active">
                <strong>Widget profiles</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div ng-repeat="profile in widgetProfilesCtl.profiles">
            
            <div class="col-lg-3" >
                <div class="ibox widget-profile" ng-class="{selected: profile.selected}" ng-click="widgetProfilesCtl.openChoice()">
                    <div class="ibox-content" ng-class="{'navy-bg': profile.selected}">
                        <h3><strong>{{profile.name}}</strong></h3>
                        <p><b>Created:</b> {{profile.createdAt}}</p>
                        <p><b>Widgets:</b> {{profile.widgets.length}}</p>
                        <p class="description">{{profile.description}}</p>
                        <button ng-if="!profile.selected" class="btn btn-success m-t" ng-click="widgetProfilesCtl.activate(profile)"><i class="fa fa-check"></i> Activate</button>
                        <button class="btn btn-warning m-t" ng-click="widgetProfilesCtl.configure(profile)"><i class="fa fa-link"></i> Configure</button>
                    </div>
                </div>
            </div>
            
        </div>

        <div class="col-lg-3" >
            <div class="ibox widget-profile" ng-class="" ng-click="">
                <div class="ibox-content text-center" >
                    <div class="vertical">
                        <button class="btn btn-success btn-lg" ng-click="widgetProfilesCtl.newProfile()"><i class="fa fa-check"></i> New profile</button>
                    </div>
                </div>
            </div>
        </div>
        
    </div>

</div>

