<div class="gridster-draggable widget-iframe-lock">
    <div class="vertical" ng-if="widgetState === 'ready'">
        <!--Action buttons-->
        <div>
            <button class="widget-options-button btn btn-primary btn-circle btn-lg"  aria-label="Options" ng-click="showOptions($event, widget.identityHTML)">
                <i class="fa fa-cogs"></i>
            </button>
        </div>
    </div>
</div>

<!--Widget component-->
<div ng-switch="widgetState" class="widget-content">
    
    <iframe sandbox="allow-scripts allow-same-origin"
            ng-class="{'iframe-visible': widgetState == 'ready'}"
            id="{{widget.identityHTML}}"
            ng-src="{{iframeURL}}"
            class="widget-iframe {{widget.tile}}"></iframe>

    <span ng-switch-when="ready">
        <!-- nothing -->
    </span>
    
    <span ng-switch-when="location">
        <div class="widget-loading yellow-bg p-lg text-center">
            <div class="vertical">
                <i class="fa fa-refresh fa-spin fa-3x"></i>
                <h3 class="font-bold m-xs">
                    Widget is asking for location
                </h3>
            </div>
        </div>
    </span>
    
    <span ng-switch-when="reloading">
        <div class="widget-loading yellow-bg p-lg text-center">
            <div class="vertical">
                <i class="fa fa-refresh fa-spin fa-3x"></i>
                <h3 class="font-bold m-xs">
                    Widget reloading
                </h3>
            </div>
        </div>
    </span>
    
    <span ng-switch-default>
        <div class="widget-loading  p-lg text-center">
            <div class="vertical">
                <i class="fa fa-refresh fa-spin fa-3x"></i>
                <h3 class="font-bold m-xs">
                    Widget preparing
                </h3>
            </div>
        </div>
    </span>
</div>
